/* Import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
  background-color: #b0d4f8; 
  display: flex;
  justify-content: center; /* Align items in the center */
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.navbar-links {
  list-style: none;
  display: flex;

}

.navbar-links li {
  margin: 0 8px;
}

.navbar-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #333; /* Darker pastel color for text */
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  background-color: #ffcccb; /* Light pastel pink on hover */
  color: #fff;
}

.navbar-links a:active {
  background-color: #a5d6a7; /* Mint green on click */
}
